#topPane
{
  -fx-background: #333333;
  -fx-padding: 0 10 10 10;
  -fx-min-width: 100;
  -fx-min-height: 100;
  -fx-pref-width: 800;
  -fx-pref-height: 600;
}

.spinner
{
  -fx-pref-width: 5em;
}

#leftVBox
{
  -fx-spacing: 5;
  -fx-alignment: top-right;
}

#rightVBox
{
  -fx-spacing: 5;
}

#buttonsVBox
{
  -fx-pref-width: 2em;
  -fx-alignment: top-right;
}

#buttonsHBox
{
  -fx-pref-height: 2em;
  -fx-alignment: bottom-left;
}
