#topPane
{
  -fx-background: #333333;
  -fx-padding: 0 10 10 10;
}

.label
{
  -fx-text-fill: green;
  -fx-font-size: 2em;
  -fx-font-weight: bold;
}

.spinner
{
  -fx-pref-width: 5em;
}

#xLabel
{
  -fx-alignment: center-left;
}

#yLabel
{
  -fx-alignment: center-left;
}

#canvas
{
  -fx-background: black;
}
